@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 100%;
	font-family: 'Open Sans', serif;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

.masthead {
	margin: 1em;
}

.logo {
	float: left;
	margin-right: 1em;
	width: 50px;
}

.button {
	float: right;
	padding: 0.2em 0.5em;
	border-radius: 0.5em;
	margin-bottom: 1em;
	margin-top: 0;
	text-decoration: none;
	color: white;
	font-size: 1rem;
	background-color: #231601;
}

.button:hover {
	color: #231601;
	background-color: #9e6100;
}

.title {
	float: left;
	font-family: 'Cinzel', serif;
	color: #231601;
	font-size: 1rem;
	margin-bottom: 1em;
	margin-top: 0;
	padding: 0;
}

.nav {
	list-style-type: none;
	margin: 0;
	margin-top: 1.5em;
	padding: 0;
	background-color: #231601;
	clear: both;
}

.nav a {
	display: block;
	padding: .5em 1em;
	color: #fff;
	text-decoration: none;
	clear: both;
}

.nav a:hover {
	color: #9e6100;
}

.nav li {
	clear: both;
}

.banner-1 {
	background-image: url("../images/wonders.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	margin: 0;
	text-align: center;
	color: white;
	padding: 3em 0;
}

.banner-p {
	background: #231601;
	opacity: 0.9;
	padding: 1em;
}

.banner-p strong {
	font-family: 'Cinzel', serif;
	font-size: 1rem;
	line-height: 1em;
}

.banner-p p {
	font-family: 'Open Sans', serif;
	font-size: 1rem;
	color: #9e6100;
	margin-bottom: 0.2em;
	margin-top: 0;
}

h2 {
	font-family: 'Cinzel', serif;
	font-size: 1.5rem;
	line-height: 1em;
	color: #231601;
	text-align: center;
	margin-bottom: 0;
	margin-top: 1em;
}

.wonders-info {
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-top: 2em;
	display: block;
}

h3 {
	margin: 0 1em;
	font-family: 'Cinzel', serif;
	font-size: 1rem;
	color: #9e6100;
}

dt, dd {
	font-size: 1rem;
	margin-top: 0;
	display: inline;
}

dt {
	margin-left: 1em;
	color: #413f0c;
	float: left;
	clear: left;
}

dd {
	margin-left: 1em;
	color: #231601;
	float: left;
}

dl{
	margin-top: 0;
	margin-bottom: 0.5em;
}

.learn-more, .learn-more-bottom {
	font-family: 'Cinzel', serif;
	font-size: 1rem;
	text-decoration: none;
	color: white;
	margin: 0em 1em;
	background-color: #413f0c;
	padding: 0.5em;
	opacity: 0.5;
	float: left;
	clear: both;
	margin-top: 0.5em;
}

.learn-more-bottom {
	margin-bottom: 2em;
}

.learn-more:hover {
	color: white;
	background-color: #413f0c;
	opacity: 10;
}

.buy {
	padding: 1em;
	padding-top: 0;
	padding-bottom: 1.5em;
	text-align: center;
	background-color: #231601;
	opacity: 0.8;
	overflow: hidden;
	clear: both;
}

.buy h2 {
	margin-bottom: .5em;
	margin-top: 1.5em;
	color: white;
	clear: both;
}

.buy p {
	margin: 0;
	color: #9e6100;
	font-size: 0.8em;
}

.buy a {
	font-family: 'Cinzel', serif;
	text-decoration: none;
	color: white;
	background-color: #413f0c;
	padding: 0.5em;
	text-align: center;
	display: block;
	margin: 1em 0;
}

.buy a:hover {
	color: white;
	background-color: #9e6100;
}

.now-playing {
	background-color: #231601;
	color: white;
	margin: 0;
	clear: both;
	padding: 1em;
}

.banner-2 {
	background-image: url("../images/atlantis.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0;
	text-align: center;
	color: white;
	padding: 3em 0;
}

.banner-p strong {
	font-family: 'Cinzel', serif;
	font-size: 1rem;
	line-height: 1em;
}

.banner-p p {
	font-family: 'Open Sans', serif;
	font-size: 1rem;
	color: #9e6100;
	margin-bottom: 1em;
	margin-top: 0;
}

.banner-p a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
	padding: 1em;
	text-transform: uppercase;
	}

.banner-p a:hover {
	color: #9e6100;
}

.week-h2 {
	margin-bottom: 1em;
	line-height: 1em;
}

.week li {
	list-style-type: none;
	text-align: left;
	font-size: 1rem;
	padding-top: 0.5em;
	color: #413f0c;
}

.week {
	padding: 0;
	margin-left: 1em;
	margin-top: 0;
	margin-bottom: 1.5em;
}

footer {
	padding: 1.5em;
	background-color: #231601;
	color: white;
	font-size: 0.8rem;
}

footer p {
	margin: 0;
}

.hours-directions {
	padding: 1em;
	padding-left: 0;
}

footer a {
	text-decoration: none;
	color: #9e6100;
}

footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 1em;
}


@media only screen and (min-width: 20em) {

	dd, dt {
		display: inline;
	}

	.learn-more {
		margin-top: 0.5em;
	}

}


@media only screen and (min-width: 30em) {

	html {
		font-size: 110%;
		line-height: 1.4;
	}

	.nav {
		text-align: center;
	}

	.nav li {
		display: inline-block;
		width: 20%;
		margin: 0;
	}

	.buy p {
		clear: both;
	}

	.buy a {
		display: inline-block;
		width: 40%;
		clear: both;
	}

	.buy li {
		display: inline-block;
	}

	.buy h2 {
		margin-top: 1.5em;
	}

}

@media only screen and (min-width: 50em) {

	html {
		font-size: 120%;
		line-height: 1.5;
	}

	header {
		float: left;
		margin-left: 1em;
		margin-top: 0;
		width: 33.333%;
		position: fixed;
	}

	.button {
		padding: 0 1em;
	}

	.nav li {
		display: block;
		width: 100%;
		text-align: left;
	}

	main, .seven-wonders {
		margin-left: 35%;
	}

	.buy, .playing-now {
		margin: 0 1em;
	}

	footer {
		text-align: left;
		float: right;
		width: 63.5%;
	}

}

@media print {

	.banner-1 {
		padding-bottom: 0;
	}

	nav {
		display: none;
	}

	.wonders-info {
		width: 50%;
		clear: both;
		padding-top: 1em;
	}

	.learn-more, .learn-more-bottom {
		padding-left: 0;
	}

	.buy, .buy a, .buy h2, .now-playing, .banner-p, .week-h2 {
		text-align: left;
	}

	.buy h2 {
		margin: 0;
		padding: 0;
	}

	.buy a {
		margin: 0;
	}

	.banner-2 {
		padding: 0 0 ;
	}

	.now-playing {
		padding-top: 1em;
		padding-left: 0;
	}

	.banner-p, .banner-p a {
		padding: 0;
		margin: 0;
	}

	.banner-p a {
		display: none;
	}

	.hours-directions a {
		display: none;
	}

	footer {
		padding-top: 0;
	}

	footer ul {
		display: none;
	}

		.learn-more::after {
		content: " (" attr(href) ")";
		text-decoration: none;
		color: #666;
		font-family: 'Open Sans', serif;
		font-size: 0.8em;
	}

}
