html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	font-family: 'Open Sans', serif;
	margin: 0;
	padding: 0;
}

.masthead {
	margin: 1em;
}

.logo {
	float: left;
	margin-right: 1em;
	width: 50px;
}

.button {
	float: right;
	padding: 0.2em 0.5em;
	border-radius: 0.5em;
	margin-bottom: 1em;
	margin-top: 0;
	text-decoration: none;
	color: white;
	font-size: 1rem;
	background-color: #231601;
}

.button:hover {
	color: #231601;
	background-color: #9e6100;
}

.title {
	float: left;
	font-family: 'Cinzel', serif;
	color: #231601;
	font-size: 1rem;
	margin-bottom: 1em;
	margin-top: 0;
	padding: 0;
}

.nav {
	list-style-type: none;
	margin: 0;
	margin-top: 1.5em;
	padding: 0;
	background-color: #231601;
	clear: both;
}

.nav a {
	display: block;
	padding: .5em 1em;
	color: #fff;
	text-decoration: none;
	clear: both;
}

.nav a:hover {
	color: #9e6100;
}

.nav li {
	clear: both;
}

.banner-1 {
	background-image: url("../images/wonders.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	margin: 0;
	text-align: center;
	color: white;
	padding: 3em 0;
}

.banner-p {
	background: #231601;
	opacity: 0.8;
	padding: 1em;
}

.banner-p strong {
	font-family: 'Cinzel', serif;
	font-size: 1rem;
	line-height: 1em;
}

.banner-p p {
	font-family: 'Open Sans', serif;
	font-size: 1rem;
	color: #9e6100;
	margin-bottom: 0.2em;
	margin-top: 0;
}

h2 {
	font-family: 'Cinzel', serif;
	font-size: 1.5rem;
	line-height: 1em;
	color: #231601;
	text-align: center;
	margin-bottom: 0;
	margin-top: 1em;
}

.wonders-info {
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-top: 2em;
}

h3 {
	margin: 0 1em;
	font-family: 'Cinzel', serif;
	font-size: 1rem;
	color: #9e6100;
}

dt, dd {
	font-size: 1rem;
	margin-top: 0;
}

dt {
	margin-left: 1em;
	color: #413f0c;
}

dd {
	margin-left: 1em;
	color: #231601;
}

dl{
	margin-top: 0;
	margin-bottom: 0.5em;
}

.learn-more, .learn-more-bottom {
	font-family: 'Cinzel', serif;
	font-size: 1rem;
	text-decoration: none;
	color: white;
	margin: 0em 1em;
	background-color: #413f0c;
	padding: 0.5em;
	opacity: 0.5;
	float: left;
	clear: both;
}

.learn-more-bottom {
	margin-bottom: 2em;
}

.learn-more:hover {
	color: white;
	background-color: #413f0c;
	opacity: 10;
}

.buy {
	padding: 1em;
	padding-top: 0;
	padding-bottom: 1.5em;
	text-align: center;
	background-color: #231601;
	opacity: 0.8;
	overflow: hidden;
}

.buy h2 {
	margin-bottom: .5em;
	margin-top: 1.5em;
	color: white;
	clear: both;
}

.buy p {
	margin: 0;
	color: #9e6100;
	font-size: 0.8em;
}

.buy a {
	font-family: 'Cinzel', serif;
	text-decoration: none;
	color: white;
	background-color: #413f0c;
	padding: 0.5em;
	text-align: center;
	display: block;
	margin: 1em 0;
}

.buy a:hover {
	color: white;
	background-color: #9e6100;
}

.playing-now {
	background-color: #231601;
	color: white;
	margin: 0;
	clear: both;
	padding: 1em;
}

.banner-2 {
	background-image: url("../images/atlantis.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	text-align: center;
	color: white;
	padding: 3em 0;
}

.banner-p strong {
	font-family: 'Cinzel', serif;
	font-size: 1rem;
	line-height: 1em;
}

.banner-p p {
	font-family: 'Open Sans', serif;
	font-size: 1rem;
	color: #9e6100;
	margin-bottom: 1em;
	margin-top: 0;
}

.banner-p a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
	padding-top: 1em;
	text-transform: uppercase;
}

.banner-p a:hover {
	color: #9e6100;
}

.week-h2 {
	margin-bottom: 1em;
	line-height: 1em;
}

.week li {
	list-style-type: none;
	text-align: left;
	font-size: 1rem;
	padding-top: 0.5em;
	color: #413f0c;
}

.week {
	padding: 0;
	margin-left: 1em;
	margin-top: 0;
	margin-bottom: 1.5em;
}

footer {
	padding: 1em;
	background-color: #231601;
	color: white;
	font-size: 0.8rem;
}

footer p {
	margin: 0;
}

.hours-directions {
	padding: 1em;
	padding-left: 0;
}

footer a {
	text-decoration: none;
	color: #9e6100;
}

footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 1em;
}

/**
@media only screen and (min-width: 20em) {

	dd, dt {
		display: inline;
	}

	dt {
		float: left;
		clear: left;
	}

	dd {
	margin-left: 1em;
	float: left;
	}

}


@media only screen and (min-width: 31em) {

	.nav {
		text-align: center;
	}

	.nav li {
		display: inline-block;
	}

}
