html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
	font-family: 'Cinzel', serif;
	text-align: center;
	color: #231601;
	font-size: 0.75em;
	margin: 1em;
	margin-bottom: 0.7em;
	padding: 0.5em;
}

.logo {
	float: left;
	width: 1.5em;
	margin-left: 1em;
}

body {
	font-family: 'Open Sans', serif;
	margin: 0;
	color: #231601;
}

nav li {
	float: left;
	margin: 0;
	width: 25%;
	text-align: center;
}

ol li {
	font-size: 25%;
	text-decoration: none;
	text-align: center;
}

.seven-wonders a {
	padding-right: 0.7em;
	padding-left: 0.7em;
}

nav {
	float: left;
	overflow: hidden;
	width: 100%;
}

nav ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}

nav a {
	color: white;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	background-color: #231601;
	display: block;
	padding: 1em;
}

nav a:hover {
	color: #9e6100;
}

.banner-1 {
	position: absolute;
	width: 100%;
	margin: 0;
	background: #231601;
	text-align: center;
	color: white;
	opacity: 0.9;
	padding: 0.5em;
	margin-top: 19.5%;
}

.banner-1 strong {
	font-family: 'Cinzel', serif;
	font-size: 1em;
}

.banner-1 p {
	font-family: 'Open Sans', serif;
	font-size: 0.7em;
	color: #9e6100;
	margin-bottom: 0.2em;
}

.wonders {
	width: 100%;
}

h2 {
	font-family: 'Cinzel', serif;
	font-size: 1.5em;
	color: #231601;
	text-align: center;
	margin-top: 1em;
}

.wonders-info {
	width: 90%;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	position: center;
	display: inline-block;
}

h3 {
	font-family: 'Cinzel', serif;
	font-size: 0.8em;
	margin-left: 1em;
	text-transform: uppercase;
	color: #9e6100;
	margin-bottom: 0;
}

.learn-more {
	font-size: 0.8em;
}

dt, dd {
	font-size: 0.8em;
	display: inline-block;
	margin-top: 0;
}

dt {
	margin-left: 1em;
	color: #413f0c;
}

dd {
	margin-left: 0.5em;
}

dl{
	margin-top: 0;
}



