html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

text-size-adjust: 100%;

@viewport { width: device-width; scale: 1; }

.h1 {
	font: font-family: 'Cinzel', serif;
}
